
<header class="d-flex  align-content-center justify-content-end container">
    <div class="row">
        {{!-- <img id="logo" class="logo col-lg-3" src="../../images/logo-1.jpg" alt="Logo"> --}}
        <nav class="position-relative col-lg-6">
            <ul class="d-flex justify-content-center align-content-center">
                {{#each catData as | catItems|}}
                <li><a href="/category/{{catItems.slug}}">{{catItems.category_name}}</a>
                </li>
                {{/each}}
            </ul>
        </nav>
    
        <div class="cart text-end serch-input col-lg-3"> <input type="search" placeholder="search here..." />
            </i></div>
    </div>
</header>
