<header class="d-flex  align-content-center">
    <img id="logo" class="logo" src="../../images/logo-1.jpg" alt="Logo">
    <nav class="position-relative">
        <ul class="d-flex justify-content-center align-content-center">
            {{#each catData as | catItems|}}
            <li><a href="/category/{{catItems.slug}}">{{catItems.category_name}}</a>
            </li>
            {{/each}}
        </ul>
    </nav>

    <div class="cart text-end serch-input"> <input type="search" placeholder="search here..." />
        </i></div>
</header>