<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto&family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/jass.css">
</head>

<body>
    <div class="container-fluid primary-background">
        <div class="container">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-xl-3">
                    <a href="/"><img id="logo" class="logo" src="/images/logo-white.png" alt="Logo" width="100px" height="auto"></a>
                </div>
                <div id="top-menu col-xl-9">
                    <nav>
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/#about" title="home">ABOUT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/dashboard" title="dashboard">DASHBOARD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product" title="products">PRODUCTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart" title="cart">CART</a>
                            </li>
                            <li class="nav-item">
                                {{#if loggedIn}}
                                <button id="logout">&#9094; LOGOUT &#9094;</button>
                                {{else}}
                                <a class="nav-link" href="/login" title="Login"> &#9094; LOGIN &#9094;</a>
                                {{/if}}
                            </li>
                        </ul>
                        {{!-- <ul>
                            <li><a href="/" title="home"> HOME</a></li>
                            <li><a href="/dashboard" title="dashboard"> DASHBOARD</a></li>
                            <li><a href="/product" title="products"> PRODUCTS</a></li>
                            <li><a href="/cart" title="cart"> CART</a></li>
                            <li>
                                {{#if loggedIn}}
                                <button id="logout">&#9094; LOGOUT &#9094;</button>
                                {{else}}
                                <a href="/login" title="Login"> &#9094; LOGIN &#9094;</a>
                                {{/if}}
                            </li>
                        </ul> --}}
                    </nav>
                </div>
                {{!-- <div class="col-xl-6 col-md-6 d-none d-md-block">
                    <div class="contact-us"> Contact :<a href="/" title="email Us"> 404@pagenotfound.com
                        </a>
                        <span> /</span>
                        <a href="/" title="call Us"> 404404404</a>
                    </div>
                </div> --}}
                {{!-- <div class="col-xl-3">
                    <ul class="right-header text-right">

                        <li>
                            {{#if loggedIn}}
                            <button id="logout">&#9094; LOGOUT &#9094;</button>
                            {{else}}
                            <a href="/login" title="Login"> &#9094; LOGIN &#9094;</a>
                            {{/if}}
                        </li>
                    </ul>
                </div> --}}
            </div>
        </div>
    </div>

    {{!-- <nav class="x header d-none d-md-block">
        <div class="container contianer_padding">
            <div class="row">
                <div class="col-xl-6 col-md-6 d-none d-md-block">
                    <a href="/" title="home"> HOME</a>
                    <span> /</span>
                    <a href="/dashboard" title="dashboard"> DASHBOARD</a>
                    <span> /</span>
                    <a href="/product" title="products"> PRODUCTS</a>
                    <span> /</span>
                    <a href="/cart" title="cart"> CART</a>
                </div>
    </nav> --}}




    <section>
        <div class="container-fluid g-0">
            {{{ body }}}
        </div>
    </section>

    <footer class="footer bg-dark">
        <div class="container g-0">
            <div class="row py-4">
                <div class="col-3">
                    <ul>
                        <li class="bold-list">COLLECTIONS:</li>
                        <li><a class="text-white-50" href="/category/men">Men</a></li>
                        <li><a class="text-white-50" href="/category/women">Women</a></li>
                        <li><a class="text-white-50" href="/category/kids">Kids</a></li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul>
                        <li class="bold-list">CUSTOMER SERVICE:</li>
                        <li><a class="text-white-50" href="#">Contact Us</a></li>
                        <li><a class="text-white-50" href="#">Delivery</a></li>
                        <li><a class="text-white-50" href="#">Returns</a></li>
                        <li><a class="text-white-50" href="#">Size Guide</a></li>
                    </ul>
                </div>
                <div class="col-3 m-auto">
                    <img src="/images/icons/delivery.png" alt="Delivery" width="auto" height="70px">
                    <p class="bold-list mt-2">FREE STANDARD DELIVERY >$100</p>
                </div>
                <div class="col-3 m-auto">
                    <img src="/images/icons/returns.png" alt="Returns" width="auto" height="70px">
                    <p class="bold-list mt-2">30-DAY FREE RETURNS</p>
                </div>
            </div>
        </div>
    </footer>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

<script src="/js/go-back.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>

</html>