{{!-- header --}}

{{> header catData=catData}}


{{!-- Body --}}
<div class="container-fluid g-0" id="header-image">
    <div class="row">
        <div class="col">
            <img src="/assets/new-season-header.jpg" width="100%" height="auto">
        </div>
    </div>
</div>
<div class="container" id="shop-now">
    <div class="row">
        <h2>Shop Now</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="https://previews.123rf.com/images/fordzolo/fordzolo1506/fordzolo150600296/41026708-example-white-stamp-text-on-red-backgroud.jpg" alt="test" width="100%">
        </div>
        <div class="col-4">
            <img src="https://previews.123rf.com/images/fordzolo/fordzolo1506/fordzolo150600296/41026708-example-white-stamp-text-on-red-backgroud.jpg" alt="test" width="100%">
        </div>
        <div class="col-4">
            <img src="https://previews.123rf.com/images/fordzolo/fordzolo1506/fordzolo150600296/41026708-example-white-stamp-text-on-red-backgroud.jpg" alt="test" width="100%">
        </div>
    </div>
</div>
<div class="container" id="about">
    <div class="row">
        <h2>About 404 Fashion</h2>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="https://previews.123rf.com/images/fordzolo/fordzolo1506/fordzolo150600296/41026708-example-white-stamp-text-on-red-backgroud.jpg" alt="test" width="100%">
        </div>
        <div class="col-4">
            <img src="https://previews.123rf.com/images/fordzolo/fordzolo1506/fordzolo150600296/41026708-example-white-stamp-text-on-red-backgroud.jpg" alt="test" width="100%">
        </div>
        <div class="col-4">
            <img src="https://previews.123rf.com/images/fordzolo/fordzolo1506/fordzolo150600296/41026708-example-white-stamp-text-on-red-backgroud.jpg" alt="test" width="100%">
        </div>
    </div>
</div>
