<div id="borat">
    <img src="/images/success.jpg" alt="SUCCESS!"><br><br>
</div>
<div class="justify-content-center btn go-back">
    <a href="/"><button class="btn-primary btn-outline-secondary btn-lg" id="goBackButton">Back
            to
            Homepage</button></a>
</div>