@media only screen and (min-width:200px) and (max-width:567px){
#shop-cards .card {
    margin-bottom: 20px;
}
.logo{
    width: 40px;
}
#top-menu nav ul li a{
font-size: 12px;
}
#shop-cards .card-body{
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#shop-cards .card-body h4{
    margin-bottom: 0px;
    font-size: 14px;
}
.border-bottom h2{
    font-size: 26px;
    margin-top: 20px;
}
#about-cards>div{
    margin-bottom: 20px;
}
.nav-item a {
   font-size: 12px;
}
#offcanvasExample{
    display: block;
}
.offcanvas-body{
    background-color: var(--primary-color);
}
.mobile{
    padding: 0px 10px;
}
.footer img{
    padding-left: 15px;
}
.footer p{
    padding-left: 15px;
}
}